* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.importantInfos{
	  font-family: "Verdana", Times, serif;
    text-align: center;
    font-size: 40px;
}
html{
	min-height: 100%;
  background: linear-gradient(rgb(220, 228, 242), rgb(207, 225, 232));
  /*background: rgb(195, 201, 212);*/
}

.menuNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menuItems {
  float: left;
  border-right: 1px solid #bbb;
}

#signInMenu{
  float: right !important;
  border-right: none;
  border-left: 1px solid #bbb;
}

.menuNames {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Verdana", Times, serif;
}

.menuNames:hover{
  background-color: #6e94c2;
}

.active{
  background-color: rgb(80, 113, 153); 
}

.homeIntro{
  color: black;
  font-family: "Verdana", Times, serif;
  text-align: center;
  font-weight: bold;
}

.articleStyle{
  background : hsl(209, 53%, 15%) !important;
  color : rgb(255, 255, 255) !important;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
}

.articleStyle *{
  grid-column: 2 / 3;
  font-weight: bold;
  font-family: "Verdana", Times, serif;
}

.row:after {
  content: "";
  display: table; 
  clear: both;
}

.leftColumnClass{
  float: left;
  width: 75%;
}

.rightColumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.artBlock {
  background-color: rgb(151, 151, 151);
  padding: 20px;
  margin-top: 20px;
}

.outBlock {
  margin-top: 20px;
}

.rightBlock{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
}

.normalText{
  font-size: 20px;
  font-family: "Verdana", Times, serif;
  text-align: center;
}

#fname{
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4em;
  box-sizing: border-box;
  width: 90%;
}
.imageStyle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.signTitle{
  margin-top: 70px;
}

.newStuffButton {
  margin-top: 20px;
  background-color: #6bb573; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.postHeader{
  margin-top: 20px;
  margin-left: 40px;
  padding-top: 10px;
  width : 96%;
  height: 60px;
  resize: none;
  font-size: 30px;
  font-family: "Verdana", Times, serif;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: #b4d4c1;
}
.postTextArea{
  margin-top: 30px;
  margin-left: 40px;
  width : 96%;
  height: 500px;
  resize: none;
  font-size: 18px;
  font-family: "Verdana", Times, serif;
  background-color: #c5e8d3;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}