* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.importantInfos{
	  font-family: "apercu",sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
}

.whiteImportant{
  color: white;
}

html{
	min-height: 100%;
  background: #3AAFA9;
  /*background: rgb(195, 201, 212);*/
}

.menuNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17252A;
    border-radius: 25px;
}

.menuItems {
  float: left;
  border-right: 1px solid #bbb;
}

#signInMenu{
  float: right !important;
  border-right: none;
  border-left: 1px solid #bbb;
}

.usernameCss{
  float: right !important;
  border-right: none;
  border-left: 1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "apercu",sans-serif;
}

.menuNames {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "apercu",sans-serif;;
}

.menuNames:hover{
  background-color: #304c57;
}

.active{
  background-color: #070b0d; 
}

.homeIntro{
  color: black;
  font-family: "apercu",sans-serif;;
  text-align: center;
  font-weight: bold;
}

.articleStyle{
  background : #FEFFFF !important;
  color : black !important;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.articleStyle *{
  grid-column: 2 / 3;
  font-family: "apercu",sans-serif;;
}

.row:after {
  content: "";
  display: table; 
  clear: both;
}

.leftColumnClass{
  float: left;
  width: 75%;
}

.rightColumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.artBlock {
  background-color: #DEF2F1 !important;;
  padding: 10px;
  margin-top: 20px;
  overflow:hidden;
  border-radius: 25px;
  text-align: center;
}

.outBlock {
  margin-top: 20px;
}

.rightBlock{
  background-color: #2B7A78;
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
  color: white;
}

.normalText{
  font-size: 20px;
  font-family: "apercu",sans-serif;
  text-align: center;
}

#searchInputId{
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4em;
  box-sizing: border-box;
  width: 90%;
}

.imageStyle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

.signTitle{
  margin-top: 70px;
}

.newStuffButton {
  margin-top: 20px;
  background-color: #17252A !important;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.newStuffButton:hover {
  background-color: #304c57;
}

.postHeader{
  margin-top: 20px;
  margin-left: 40px;
  padding-top: 10px;
  width : 96%;
  height: 60px;
  resize: none;
  font-size: 30px;
  font-family: "apercu",sans-serif;;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: #b4d4c1;
}

.postTextArea{
  margin-top: 30px;
  margin-left: 40px;
  width : 96%;
  height: 500px;
  resize: none;
  font-size: 18px;
  font-family: "apercu",sans-serif;;
  background-color: #c5e8d3;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.postDisplayTitle{
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-family: "apercu",sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.postDisplayTitle:hover {
  color: #0087f5;
}

.deleteButtonStyle {
  background-color: rgb(124, 2, 2);
  border: none;
  color: white;
  padding: 2px 4px;
  font-size: 8px;
  cursor: pointer;
  float: right;
}

/* Darker background on mouse-over */
.deleteButtonStyle:hover {
  background-color: rgb(51, 2, 2);
}

.chat_text_area_class{
  margin-top: 30px;
  margin-left: 40px;
  width : 70%;
  height: 400px;
  resize: none;
  font-size: 18px;
  font-family: "apercu",sans-serif;;
  background-color: white;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  overflow: auto;
}

.chat_message_class{
  margin-top: 20px;
  margin-left: 40px;
  padding-top: 3px;
  width : 70%;
  height: 30px;
  resize: none;
  font-size: 18px;
  font-family: "apercu",sans-serif;;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: white;
}

/* Sign in */
#signUsername{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#signPassword{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signButton {
  background-color: #17252A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signButton:hover {
  background-color: #304c57;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.avatarHome {
  border-radius: 50%;
  width: 20%;
}

.container {
  padding: 12px;
  background-color: #fefefe;
}

span.psw {
  float: center;
}

/* The Modal (background) */
.modal {
  margin: auto;
  width: 40%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* Sign in end */

.signUpDiv{
  margin-top: 8px;
  font-size: 22px;
}

.newHereSpan{
  font-size: 18px;
}

.signUpButtonClass {
  background-color: #17252A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
}

.signUpButtonClass:hover {
  background-color: #304c57;
}

#signUpEmailId{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#signUpUsernameId{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#signUpPasswordOneId{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#signUpPasswordTwoId{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.wrongPw{
  border: 1px solid #FF0000;
}

/*.header{
  background-image: url('../img/header.jpg');
  max-width: 100%;
  height: auto;
}*/

.chatUsername{
  font-size: 12px;
  margin-bottom: 0px;
}

.chatParagraph{
  margin-top: 0px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
}

.chatDate{
  display: none;
}

.chatMessageContainer:hover .chatDate{
  display: block;
  font-size: 8px;
}

.chatDelete{
  background-color: rgb(124, 2, 2);
  border: none;
  color: white;
  padding: 2px 4px;
  font-size: 8px;
  cursor: pointer;
  float: right;
}

.chatDelete:hover {
  background-color: rgb(51, 2, 2);
}

#sendEmailHref{
  color: rgb(0, 177, 247);
}

#swal-input3-textarea-email{
  resize: none;
  font-family: "apercu",sans-serif;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  overflow: auto;
}

.readWholePost{
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #464d4d;
  font-family: "apercu",sans-serif;
  font-size: 14px;
}

.postCreatedAt{
  margin-top: 2px;
  margin-bottom: 2px;
  float: right;
  font-family: "apercu",sans-serif;
  font-size: 12px;
}

.postActualTitle{
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-family: "apercu",sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.commentSectionContainer{
  display: block;
}

.commentHeader{
  float: left;
  font-family: "apercu",sans-serif;
  display: block;
  background-color: #00ffe28c;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border-radius: 25px;
}

.commentSectionContainer{
  float: left;
  font-family: "apercu",sans-serif;
  display: block;
  background-color: #0064598c;
  width: 100%;
  height: 60%;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 25px;
}

.writeCommentButton{
  float: right;
  text-decoration: none;
  font-family: "apercu",sans-serif;
  font-size: 15px;
  color: #000000;
  background-color: #03b3ca;
  padding: 8px;
  border-radius: 25px;
}

.writeCommentButton:hover{
  background-color: #00ffff;
}

.newCommentArea{
  width: 80%;
  height: 110px;
  background-color: white;
  font-family: "apercu",sans-serif;
  font-weight: normal;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.commentDiv{
  margin-top: 10%;
}

.newCommentButton{
  float: right;
  float: bottom;
  margin-top: 2px;
  background-color: #17252A !important;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.newCommentButton:hover{
  background-color: rgb(44, 98, 117) !important;
}

#newCommentAreaDivId{
  margin-top: 70px;
}

.loadedComment{
  float: left;
  font-family: "apercu",sans-serif;
  display: block;
  background-color: #00ffe28c;
  width: 100%;
  padding: 10px;
  font-weight: normal;
  border-radius: 25px;
  margin-bottom: 10px;
}

.loadedCommentDate, .loadedCommentUsername{
  font-size: 12px;
}

.loadedCommentDate{
  float: right;
}

.loadedCommentUsername{
  margin-top: 5px;
}

#logoutMenuItemId{
  float: right;
  border-right: none;
  border-left: 1px solid #bbb;
}

.noPostDivClass{
  margin-top: 5%;
  font-family: "apercu",sans-serif;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.welcomeTitle{
  font-family: "apercu",sans-serif;
  font-size: 48px;
}

.welcomeText{
  font-family: "apercu",sans-serif;
  font-size: 28px;
}

.tooBigImage{
  width: 20%;
  border-radius: 50%;
}